<router-outlet>
</router-outlet>
<!--
<app-messages></app-messages>
-->

<!-- credits -->
<!-- <hr>
<div class="text-center">
    <p>
        User Management System by Node.js and JSON Web Tokens (JWT) 2018.07.08
    </p>
    <p>
        <a href="http://www.jing2637.com" target="_top">Jing2637.com</a>
    </p>
</div> -->


<hr>
<div class="container">
    <footer class="footer text-center">
        <p style="display:inline;">&copy;2018 c-Works angular single page web application (SPA), {{date |date:'MMMM dd, y hh:mm:ss a'}} </p>&nbsp;&nbsp;&nbsp;&nbsp;
        <!--
        <a href="https://github.com/MingJing2015" target="_blank" class="">
            <img src="./assets/images/Circle Color/Github.png" style="width:32px; height:32px;" alt="Ming Logo">
        </a>
        <a href="https://www.facebook.com/ming.jing.3745" target="_blank" class="">
            <img src="./assets/images/Circle Color/Facebook.png" style="width:32px; height:32px;" alt="Ming Logo">
        </a>
        <a href="https://www.linkedin.com/in/ming-jing-7a2238127" target="_blank" class="">
            <img src="./assets/images/Circle Color/Linkedin.png" style="width:32px; height:32px;" alt="Ming Logo">
        </a>
        <a href="https://twitter.com/Ming9Jing" target="_blank" class="">
            <img src="./assets/images/Circle Color/Twitter.png" style="width:32px; height:32px;" alt="Ming Logo">
        </a>
        <a href="#" target="_blank" class="">
            <img src="./assets/images/Circle Color/Google.png" style="width:32px; height:32px;" alt="Ming Logo">
        </a>
        -->

    </footer>
</div>